.container {
  &--lg {
    max-width: 126.4rem;
    padding: 0px 3.2rem;
    width: 100%;
  }
}

.v-stack {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @each $i in $nums {
    &--spacing-#{$i} {
      gap: 1px * $i;
    }
  }
}

.skeleton {
  width: 100%;
  height: 100%;
  border-radius: .8rem;
  opacity: 0.7;
  animation: skeleton-loading .8s linear infinite alternate;
  animation-delay: 0.5s;
  &--header {
    width: 100%; 
    height: 1.2em;
    margin-bottom: .25rem;
    border-radius: .5rem;
    &:last-child {
      margin-bottom: 0;
      width: 80%;
    }
  }
  &--text {
    width: 100%; 
    height: 1.6rem;
    margin-bottom: .25rem;
    border-radius: .3rem;
    &:last-child {
      margin-bottom: 0;
      width: 80%;
    }
  }
}



@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 90%) ;
  }
  
  100% {
    background-color: hsl(200, 20%, 70%);
  }
}



.loading_skeleton {
  // make skeleton loaging
}