.container {
  &--lg {
    max-width: 126.4rem;
    padding: 0px 3.2rem;
    width: 100%;
  }
}

.v-stack {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  @each $i in $nums {
    &--spacing-#{$i} {
      gap: 1px * $i;
    }
  }
}
