.aspect-ratio {
  &--full {
    width: 100%;
  }
  &__wrapper {
    position: relative;
    width: 100%;
  }
  &__content {
    height: '100%';
    left: 0;
    position: 'absolute';
    top: 0;
    width: '100%';
  }
}
