.btn {
  @include reset-button;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.3rem 2.4rem;
  &--outline {
    border: 1px solid;
    text-transform: uppercase;
    &--selected {
      background-color: $black;
      color: white;
      border: 1px solid $black;
    }
  }

  &--primary {
    background-color: $green;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background-color: lighten($green, 5%);
    }
    &:active {
      filter: brightness(95%);
    }
  }
}

.btn_rect {
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: $lightGray;
  }
}
