.btn {
  @include reset-button;
  @include center;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.3rem 2.4rem;

  &--outline {
    border: 1px solid;
    text-transform: uppercase;
    &--selected {
      background-color: $black;
      color: white;
      border: 1px solid $black;
      &:hover {
        background-color: $black;
      }
    }
  }

  &--small {
    padding: 0;
    width: 24px;
    height: 24px;
  }

  &--square-big {
    width: 45px;
    height: 45px;
  }

  &--primary {
    background-color: $green;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover {
      background-color: lighten($green, 5%);
    }
    &:active {
      filter: brightness(95%);
    }
  }
  &--disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  &--swatch {
    transition: all $leapard;
  }
}

.btn--rect {
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: $lightGray;
  }
}

.attribute-button {
  min-width: 24px;
  &--small {
    padding: 2px 4px; 
  }
}