.btn {
  @include reset-button;
  cursor: pointer;
  &:active {
    background-color: lightgray;
  }
  &:hover {
    background-color: $lightGray;
  }
}

.btn_rect {
  width: 100%;
  padding: 1rem;
}
