.btn {
  @include reset-button;
  cursor: pointer;
  &:active {
    background-color: lightgray;
  }
  &:hover {
    background-color: $lightGray;
  }
}

.btn_shopping {
  // transform: translateY(40px);
  // margin-top: 13px;
}