.catalog-card {
  flex-basis: 32%;
  padding: 1.6rem;
  cursor: pointer;
  transition: $mouse;
  &:hover {
    box-shadow: $shadowMedium;
  }

  &__picture-container {
    position: relative;
  }
  &__pic {
    transition: all $mouse;
    &--hovered {
      transform: scale(1.01);
    }
    &:hover {
      transform: scale(1.025);
    }
  }
  &__btn-basket {
    position: absolute;
    background-color: $green;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    right: 1.6rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity $rabbit ease-out;
    visibility: hidden;
    &:hover {
      background-color: lighten($green, 5%);
    }
    &:active {
      filter: brightness(90%);
    }
    &--visible {
      opacity: 1;
      visibility: visible;
    }
    img {
      @include center-absolute;
    }
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.88rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
