.catalog-card {
  cursor: pointer;
  transition: $mouse;
  position: relative;

  &__wrapper {
    flex-basis: 32%;
    padding: 1.6rem;
    &:hover {
      box-shadow: $shadowMedium;
    }
    &--disabled {
      opacity: 0.6;
    }
  }
  &__out-of-stock-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    // z-index: 1;
    cursor: initial;

    &--active {
      display: block;
    }

    h1 {
      position: relative;
      top: 45%;
      text-align: center;
      display: block;
      color: black;
      opacity: 0.4;
    }
  }
  &__picture-container {
    position: relative;
  }
  &__pic {
    transition: all $mouse;
    &--hovered {
      transform: scale(1.01);
    }
    &:hover {
      transform: scale(1.025);
    }
  }
  &__btn-basket {
    position: absolute;
    background-color: $green;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    right: 1.6rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity $rabbit ease-out;
    visibility: hidden;
    &:hover {
      background-color: lighten($green, 5%);
    }
    &:active {
      filter: brightness(90%);
    }
    &--visible {
      opacity: 1;
      visibility: visible;
    }
    img {
      @include center-absolute;
    }
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.88rem;
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.cart-item-card {
  display: flex;
  gap: 10px;
  margin: 22px 0px 44px;
  transition: all $snile;
  overflow: hidden;
  &:last-child {
    margin-bottom: 30px;
  }
  &--big {
    min-height: 183px;
  }
  &--small {
    max-height: 130px;
    max-height: 1000px;
  }

  &__brand-name {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__attributes {
    display: flex;
    gap: 8px;
    margin-top: 2rem;
    max-width: 100%;
    flex-wrap: wrap;
  }

  &__controls {
    @include center;
    flex-direction: column;
    justify-content: space-between;
  }

  &__plus {
    font-size: 32px;
    font-weight: 300;
    &--big {
      font-size: 55px;
      font-weight: 200;
    }
  }

  &__minus {
    font-family: 'Roboto';
    font-size: 35px;
    font-weight: 300;
    &--big {
      font-size: 55px;
      font-weight: 100;
    }
  }

  &__total-price {
    @include space-between;
    margin-bottom: 35px;
    margin-top: 22px;
  }
}
