.overlay {
  z-index: $base;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: all $mouse;
  &--gray {
    background-color: black;
    opacity: 0.2;
  }
}
