.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: $modal;
  // navigation buttons
  .nav {
    &__btn {
      cursor: pointer;
      color: $black;
      font-size: 1.6rem;
      padding: 2.5rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        background-color: $lightGray;
        opacity: 0.9;
      }
      &:active {
        color: currentColor;
      }
      // on active state bold font was shiffting buttons left and right
      // I here is hidden text behind of the link
      &::before {
        display: block;
        content: attr(title);
        font-weight: bold;
        overflow: hidden;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        font-weight: 600;
      }

      // hidden bottom border
      &::after {
        display: block;
        content: '';
        border-bottom: 2px solid;
        visibility: hidden;
      }

      &--active {
        color: $green;
        font-weight: 600;
        border-bottom: 2px solid;
        &:active {
          color: currentColor;
        }
      }
    }
    &__btn_dropdown {
      position: relative;
      bottom: -5px;
      transition: all $mouse;
      &--opened {
        transform: rotate(180deg);
      }
    }

    &__btn_currency {
      @include center;
      padding: 0rem 1rem;
      &:hover {
        background-color: transparent;
      }
    }
    &__btn-basket {
      padding: 0rem 1rem;
      position: relative;
      &:hover {
        background-color: transparent;
      }
      // badge on basket
      &__badge {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        left: 60%;
        font-size: 14px;
        background: black;
        border-radius: 100px;
        padding: 5px 6px 4px;
        min-height: 16px;
        display: flex;
        align-items: center;
        // in the badge I have a <p> tag to style text
        p {
          padding: 0;
          color: #fff;
          font-family: Roboto;
          border-radius: 8px;
          padding-top: 0px;
          font-size: 14px;
          line-height: 10px;
        }
      }
    }
  }
  // site logo (shopping bag)
  &__btn_shopping {
    @include center-absolute;
    position: absolute;
    margin-top: 2px;
    &:hover {
      background-color: white;
    }
    &:active {
      background-color: white;
    }
  }

  // buttons on the right side of the navigation
  &__btn_group {
    @include center;
    align-self: stretch;
    align-items: stretch;
    position: relative;
  }
}
