.currency_popover {
  @include popover;
  width: 115px;
  box-shadow: $shadownSmall;
  padding: 0.8rem 0px;
  background-color: white;
}

.basket-popover {
  @include popover;
  background-color: white;
  top: 100%;
  width: 326px;
  right: 10px;
  padding: 0.8rem 1.6rem 2rem;

  &__cards {
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: lightgray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $lightGray;
    }
  }
}
