.currency_popover {
  @include popover;
  width: 115px;
  box-shadow: $shadownSmall;
  padding: 0.8rem 0px;
  background-color: white;
}

.basket_popover {
  @include popover;
  background-color: white;
  top: 100%;
  width: 326px;
  right: 10px;
  padding: 0.8rem 1.6rem 2rem;

  &__cards {
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width:  7px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: red;
      padding-right: 10px;
      background: lightgray;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: $lightGray;
    }
  }

  &__card {
    height: 137px;
    display: flex;
    gap: 10px;
    margin: 22px 0px 44px;
    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p:nth-child(2) {
      margin-top: -20px;
    }
  }
  &__controls {
    @include center;
    flex-direction: column;
    justify-content: space-between;
  }

  &__plus,
  &__minus {
    font-size: 35px;
    font-weight: 300;
  }
  &__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 22px;
  }
}
