/** Parts of Popover */

.popover-trigger {
  position: relative;
}

.popover-body {
  @include popover;
  box-shadow: $shadownSmall;
  z-index: $popover;
  opacity: 1;
  background-color: white;
  &__container {
    position: relative;
  }
}

/** Specific Popovers */

.category-popover {
  @include center;
  &:hover {
    background-color: $lightGray;
  }
  &__dropdown {
    transition: all $mouse;
    &--active {
      transform: rotate(180deg);
    }
  }
}

.currency_popover {
  @include center;
  .popover-body {
    width: 115px;
    box-shadow: $shadownSmall;
    padding: 0.8rem 0px;
  }
}

.basket-popover {
  @include popover;
  background-color: white;
  top: 100%;
  width: 326px;
  right: 10px;
  padding: 0.8rem 1.6rem 2rem;

  &__cards {
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: lightgray;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: $lightGray;
    }
  }
  &__total-price {
    @include space-between;
    margin-bottom: 35px;
    margin-top: 22px;
  }
}
