.heading {
  font-size: 4.2rem;
  margin: 0;
  color: $black;
  line-height: 29px;
  padding: 3px 0px;
  &--center {
    width: 100%;
    text-align: center;
  }
  &--main {
    font-weight: 600;
    font-size: 3rem;
  }
  &--secondary {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  // weight
  &--light {
    font-weight: 300;
  }
  &--semi-bold {
    font-weight: 500;
  }
  &--bold {
    font-weight: 700;
  }
  
}

.text {
  padding: 1rem 0px ;
  color: inherit; 
  line-height: 2.39rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  
  // size
  &--regular {
    font-size: 1.6rem;
  }
  &--big {
    font-size: 2rem;
    font-weight: 500;
  }
  // type
  &--error {
    color: red;
  }
  // weight
  &--light {
    font-weight: 300;
  }
  &--semi-bold {
    font-weight: 500;
  }
  &--bold {
    font-weight: 700;
  }
  
  // font
  &--roboto {
    font-family: 'Roboto', sans-serif;
  }
}
