.-flex {
  display: flex;
}

$positions: 'center', 'space-between', "space-around";

@each $pos in $positions {
  .justify-#{$pos} {
    display: flex;
    justify-content: $pos;
  }
}


.-center_content {
  @include center;
}

.-justify-between {
  @include space-between;
}

.-position-relative {
  position: relative;
}

.-center-absolute {
  @include center-absolute
}

.-position-absolute {
  position: absolute;
}

.-round {
  border-radius: 100%;
}

.-w-full {
  width: 100%;
}

.-hidden {
  visibility: hidden;
}