@each $i in $nums {
  .-mt-#{$i} {
    margin-top: 1px * $i;
  }
}

@each $i in $nums {
  .-mr-#{$i} {
    margin-right: 1px * $i;
  }
}

@each $i in $nums {
  .-mb-#{$i} {
    margin-bottom: 1px * $i;
  }
}

@each $i in $nums {
  .-ml-#{$i} {
    margin-left: 1px * $i;
  }
}

@each $i in $nums {
  .-mx-#{$i} {
    margin: 0px 1px * $i;
  }
}

@each $i in $nums {
  .-my-#{$i} {
    margin: 1px * $i 0px;
  }
}

@each $i in $nums {
  .-m-#{$i} {
    margin: 1px * $i;
  }
}
