@each $i in $nums {
  .-pt-#{$i} {
    padding-top: 1px * $i;
  }
}

@each $i in $nums {
  .-pr-#{$i} {
    padding-right: 1px * $i;
  }
}

@each $i in $nums {
  .-pb-#{$i} {
    padding-bottom: 1px * $i;
  }
}

@each $i in $nums {
  .-pl-#{$i} {
    padding-left: 1px * $i;
  }
}

@each $i in $nums {
  .-p-#{$i} {
    padding: 1px * $i;
  }
}

@each $i in $nums {
  .-py-#{$i} {
    padding: 1px * $i;
  }
}

@each $i in $nums {
  .-right-#{$i} {
    right: 1px * $i;
  }
}
