.catalog {
  &__container {
    padding-top: 80px;
  }
  &__header {
    font-weight: 400;
    font-size: 42px;
  }
  &__list {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 100px;
    padding-bottom: 100px; 
  }
  &__card {
    flex-basis: 32%;
    background-color: lightgray;
    padding: 1.6rem;
  }
}
