$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 3;

.product-page {
  padding-top: 5rem;
  display: flex;
  gap: 100px;

  &__slider {
    flex-basis: 65%;
    height: 500px;
    display: flex;
    gap: 3rem;
    max-height: 500px;
  }
  &__img-container {
    @include center;
    width: 100%;
  }
  &__thumbs {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow-y: scroll;
    min-width: 115px;
    @include mobile-scroll;
  }
  &__thumb-container {
    width: 80px;
    height: 80px;
    // thumb
    img {
      cursor: pointer;
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}

/** Descriptions on product page*/
.pr-details {
  flex-basis: 40%;
  height: 500px;
  display: flex;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    max-width: 300px;
    width: 100%;
  }
  &__headings {
    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__section-heading {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }
  &__btn-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 10px;
    width: 100%;
    min-height: 40px;
    button[data-background] {
      background-color: var(--tooltip-color);
    }
  }
  &__price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }
  &__description {
    display: contents;
    h1 {
      line-height: 40px;
    }
    p {
      line-height: 23px;
    }
  }
}
