$font-size: 16px;
$line-height: 1.4;
$lines-to-show: 3;

.product-page {
  padding-top: 3rem;
  &__container {
    display: flex;
    gap: 100px;
  }
  &__slider {
    flex-basis: 65%;
    height: 500px;
    display: flex;
    gap: 3rem;
    max-height: 500px;
    &__img {
      @include center;
      width: 100%;
    }
    &__thumbs {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      overflow: hidden;
      min-width: 80px;
      img {
        cursor: pointer;
      }
    }
  }
  .pr-details {
    flex-basis: 40%;
    height: 500px;
    display: flex;
    &__container {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 300px;
      width: 100%;
    }
    &__headings {
      h1 {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &__section-heading {
      display: block;
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__btn-group {
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
      column-gap: 10px; 
      width: 100%;
      min-height: 40px;
    }
    &__price {
      font-size: 24px;
      font-weight: 700;
    }
    &__description {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      padding-top: 0px;
      width: 100%;
      min-height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      max-height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &--hidden {
        display: none;
      }
      &__btn--open-description {
        width: 100%;
        margin-top: -32px;
        &--hidden {
          display: none;
        }
      }
    }
  }
}
