$positions: 'center', 'space-between';

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin reset-button {
  padding: 0;
  border: 0;
  box-shadow: none;
  font-size: 1.6rem;
  background-color: transparent;
}
