$positions: 'center', 'space-between';

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin reset-button {
  padding: 0;
  border: 0;
  box-shadow: none;
  font-size: 1.6rem;
  background-color: transparent;
}

@mixin popover {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 90%;
  transition: all $mouse;
  z-index: -10;
  &--opened {
    visibility: visible;
    opacity: 1;
    z-index: $popover;
  }
}

@mixin mobile-scroll {
  &::-webkit-scrollbar {
    width: 1.5rem;
    margin-left: 10px;
    z-index: 1000000;
  }
  &:-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 100px;
    border: solid 5px white;
  }
}
