$green: #5ece7b;
$lightGray: #fafafa;
$black: #1D1F22;

$nums: 1, 2, 4, 6, 8, 12, 16, 20, 24, 32, 36, 40, 48, 54, 64, 72, 80, 90, 128;

// animation transitons speeds
$snile: 1s;
$turtle: 0.5s;
$rabbit: 0.2s;
$mouse: 0.2s;
$leopart: 0.1s;

// z indexes;
$zero: 0;
$base: 1;
$popover: 10;
$dropdown: 30;
$overlay: 50;
$modal: 100;

// box shadows
$shadownSmall: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.06);
$shadowMedium: 0px 4px 35px 0px #A8ACB030;


