$green: #5ece7b;
$lightGray: #fafafa;

$nums: 1, 2, 4, 6, 8, 12, 16, 20, 24, 32, 36, 48, 54, 64;

// animation transitons speeds
$snile: 1s;
$turtle: 0.5s;
$mouse: 0.2s;
$leopart: 0.1s;


// z-indexes;
$popover: 10;

