// abstract
@import './abstact/variables';
@import './abstact/mixins';
@import "./abstact/animations";

// base style
@import './base/base';

// components
@import './components/typography';
@import './components/pageheader';
@import './components/buttons';
@import './components/popovers';
@import './components/overlays';
@import './components/aspectratio';
@import './components/cards';
@import './components/toasts';
@import './components/dividers';

// shared
@import './shared/margins';
@import './shared/paddings';
@import './shared/displays';
@import './shared/colors';
@import './shared/zIndexes';
@import './shared/gaps';
@import './shared/animations';

// layout
@import './layout/containers';
@import "./layout/middlePageContent";

// pages
@import './pages/catalog';
@import './pages/product-deatail';
@import './pages/cartPage';
@import './pages/errorPage';
