html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

p,
h1,
h2,
h3 {
  color: $black;
}
